{% extends "../layout.twig" %}
{% block content %}
	<h1>Lorem Lorem sIpsumsss</h1>
	<p>ывы ывывыв вава </p>
	<img src="../images/vidp1.jpg" alt="newimage" data-src="sds" class="foo bar baz">
	<div>{{ Export }}</div>
	<mscom:contentinclude ajaxrendered="false" md:pageid="7ff447a3c174d85d4ef7044563abec66b691e991" instancename="myfragment"></mscom:contentinclude>
	<mscom:contentinclude ajaxrendered="false" md:pageid="9d1dade2ef8aa1b1cd7cc6e1eb0d4753b34c4a9a" instancename="67676767"></mscom:contentinclude>
	<mscom:contentinclude ajaxrendered="false" md:pageid="cc46666f36af29ef09bbd97618d7c78b1fcc0274" instancename="newfrag"></mscom:contentinclude>
	<img src="../images/vidp1.jpg" alt="newimage" data-src="sds" class="foo bar baz">
	<mscom:contentinclude ajaxrendered="false" md:pageid="cc46666f36af29ef09bbd97618d7c78b1fcc0274" instancename="newfrag"></mscom:contentinclude>
	<mscom:contentinclude ajaxrendered="false" md:pageid="cc46666f36af29ef09bbd97618d7c78b1fcc0274" instancename="newfrag"></mscom:contentinclude>
	<mscom:contentinclude ajaxrendered="false" md:pageid="cc46666f36af29ef09bbd97618d7c78b1fcc0274" instancename="newfrag"></mscom:contentinclude>
	<img src="../images/vidp1.jpg" alt="newimage" data-src="sds" class="foo bar baz">
	<mscom:contentinclude ajaxrendered="false" md:pageid="cc46666f36af29ef09bbd97618d7c78b1fcc0274" instancename="newfrag"></mscom:contentinclude>
{% endblock %}