{% extends "../layout.twig" %}

{% block content %}
	<div>{{ Export }}</div>
	{{ ms.image(Export, 'user', 'asass') }}
	{% include "../fragments/myfragment.twig" %}
	{% include "../fragments/myfragment.twig" %}
	{% include "../fragments/myfragment.twig" %}
	{% include "../fragments/myfragment.twig" %}
{% endblock %}