{% extends "../layout.twig" %}
{% block content %}
	<h1>Lorem Lorem Ipsum</h1>
	<img src="../images/vidp1.jpg" alt="newimage" data-src="sds" class="foo bar baz">
	<div>{{ Export }}</div>
	{% include "../fragments/myfragment.twig" %}
{% endblock %}